header {
    position: relative;
    width: 100%;
    height: 100vh;
    // overflow: hidden;
    // overflow: hidden;
    color: $color2;
    overflow: hidden;

    // background-color: gray;
}

#canvas-id {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    // background-color: $color1;
    // background-image: linear-gradient($color2, $color1);
    background-color: $color1;
    z-index: -1;
    // filter: blur(5px) contrast(1);
}


.ps-circle-wrap {
    position: absolute;
    top: 70%;
    right: 5%;
    // transform: translate(-20%, -50%) rotate(0);
    width: 40vh;
    height: 40vh;
    border: 5px dotted $color3;
    border-radius: 50%;
    animation: run-wheel 10s infinite both;
    z-index: 0;
    opacity: .2;
    // filter: drop-shadow(.5rem -.5rem .1rem $color1) drop-shadow(.5rem -.5rem .1rem $color3);


    .ps-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 15vh;
        color: $color3;
        // filter: drop-shadow(.5rem .5rem .1rem $color2);
    }

}

// .bg-img-container {
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     width: 100%;
//     opacity: .1;
//     // height: auto;
//     // background-color: green;
//     background-image: linear-gradient(transparent, $color1);

//     .img-wrap {
//         width: 100%;
//         // height: 100%;

//         img {
//             width: 100%;
//         }
//     }
// }

.banner {
    @include flex-center-column;
    @include wh100;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: .3rem dotted rgba(255, 255, 255, 0.2);

    .banner-title {
        width: 100%;
        // font-family: "Vina Sans", sans-serif;
        // font-weight: 400;
        // font-style: normal;

        // h1,
        // .line {
        //     // filter: drop-shadow(.2rem -.2rem .1rem $color4);
        // }

        h1 {
            font-size: 4vh;
            padding: 1rem 3rem;
            text-align: center;
            // transform: translateY(-10rem);
        }

        .h1-smaller {
            font-size: 3vh;
            margin-top: 1.5rem;
        }

        p {
            font-size: 2rem;
            margin-top: 2rem;
        }

        .line {
            width: 60vw;
            height: .1rem;
            background-color: $color2;
            margin: 2.5rem 0;
        }

        .btn-wrap {
            margin-top: 6rem;

            .btn-wrap-exp {
                @include flex-center;
                width: 10vh;
                height: 10vh;
                // padding: 2rem;
                // font-size: 1.2rem;
                font-size: 5rem;
                text-decoration: none;
                border: .1rem dotted transparent;
                border-radius: 50%;
                color: $color4;
                background-color: $color1;
                // box-shadow: inset 0 0 1rem 1rem $color3-rgba-5, 0 0 1rem .5rem $color2-rgba-3;
                box-shadow: inset 0 0 1rem .1rem $color7;

                animation: run-wheel-2 7s infinite both;
                transition: .3s linear;
                opacity: .9;
            }

            .btn-wrap-exp:hover {
                animation-play-state: paused;
                filter: drop-shadow(0 0 .5rem $color7);
            }
        }
    }
}

.banner-title {
    @include flex-center-column;
}

.span-color {
    color: $color7
}

.color-light {
    color: $color3;
}

@media(min-width:1200px) {
    .ps-circle-wrap {
        position: absolute;
        top: 50%;
        right: 0%;
        // transform: translate(0, 0) rotate(0);
        width: 70vh;
        height: 70vh;

        opacity: .3;
        // filter: drop-shadow(.5rem -.5rem .1rem $color1) drop-shadow(.5rem -.5rem .1rem $color3);


        .ps-circle {
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            //     width: 100%;
            //     height: 100%;
            font-size: 25vh;
            //     color: $color3;
            //     // filter: drop-shadow(.5rem .5rem .1rem $color2);
        }

    }

    .banner {

        .banner-title {
            @include flex-left;
            width: 80%;

            h1 {
                text-align: left;
                font-size: 12vh // filter: drop-shadow(.2rem -.2rem .1rem $color1) drop-shadow(.2rem -.2rem .1rem $color3);
            }

            // p {}
        }
    }

    // .bg-img-container {
    //     // position: absolute;
    //     // bottom: 0;
    //     // left: 0;
    //     // right: 0 !important;
    //     width: 50% !important;
    //     // opacity: .2;
    //     // // height: auto;
    //     // // background-color: green;
    //     // background-image: linear-gradient(transparent, $color1);

    //     .img-wrap {
    //         // width: 100%;
    //         // height: 100%;

    //         img {
    //             width: 100%;
    //         }
    //     }
    // }
}